
td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group{
    margin: 20px 0px;
}

svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

.inputs-field {
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-button {
    flex-shrink: 2;
    padding: 23px;
    font-weight: bold;
    font-size: large;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



